# ----------------------
# Ignore everything
# ----------------------
/*

# ----------------------
# Exc > .vshistory
# ----------------------
.vshistory

# ----------------------
# Inc > Add Gitignore
# ----------------------
!.gitignore

# ----------------------
# Inc > Add Manifest
# ----------------------
!/manifest

# ----------------------
# Inc > Add Tools
# ----------------------
!/Tools

# ----------------------
# Add Docs
# ----------------------
/Docs/*
!/Docs/images/*.png

# ----------------------
# Bin
# ----------------------
!/bin
/bin/Debug/*
/bin/Release/*
/bin/Release/*.pdb
/bin/Release/*.exe.config
/bin/Release/*.manifest
/bin/Release/*.application
/bin/Release/*.dll
/bin/Release/*exe.config

/bin/Dist/*
/bin/Dist/*.pdb
/bin/Dist/*.exe.config
/bin/Dist/*.manifest
/bin/Dist/*.application
/bin/Dist/*.dll
!/bin/Dist/*exe

/bin/Publish/*
/bin/Publish/*.pdb
/bin/Publish/*.exe.config
/bin/Publish/*.manifest
/bin/Publish/*.application
/bin/Publish/*.dll
!/bin/Publish/*exe

/MSBuildCode/*
!/MSBuildCode/

/bin/Release/app.publish/*
!/bin/Release/app.publish/
!/bin/Release/app.publish/*.exe
/bin/Release/app.publish/setup.exe
/bin/Release/.vshistory*

/bin/Release/net481/*
!/bin/Release/net481/
!/bin/Release/net481/*.exe

/bin/Release/net481/publish/*
!/bin/Release/net481/publish/
!/bin/Release/net481/publish/*.exe

# Allow: Argon2
!/Argon2*

# Allow: GPG
!/GnuPG*

# Allow: SHA3
!/SHA3*

# Allow: Blake2
!/Blake2*

# Allow: Blake3
!/Blake3*

# Allow: CRC
!/CRC*

# Allow: Classes
!/Classes*

# Allow: Controls
!/Controls*

# Allow: Forms
!/Forms*

# Allow: Materials
!/Materials*

# Allow: Properties
!/Properties*

# Allow: Exts
!*.csproj
!*.sln
!*.cs
!*.resx
!*.ico
!*.md
!*.bat
!*.props
!/*config
!LICENSE*
!Contributing*
!Funding*
!.github
!.gitea
!.gitlab