<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xsum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xsum.Properties.Settings>
            <setting name="app_repo_url" serializeAs="String">
                <value>https://github.com/Aetherinox/xsum-hash-utility</value>
            </setting>
            <setting name="app_bDevmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_exe_name" serializeAs="String">
                <value>xsum.exe</value>
            </setting>
            <setting name="ag2_salt" serializeAs="String">
                <value>ddeEdGPCXQ0-Tk3rRoXsMMT04mjL4qa1</value>
            </setting>
            <setting name="ag2_hashlen_def" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ag2_hashlen_min" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ag2_hashlen_max" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="ag2_memory_min" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ag2_memory_max" serializeAs="String">
                <value>4194304</value>
            </setting>
            <setting name="ag2_memory_def" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="ag2_salt_min" serializeAs="String">
                <value>8</value>
            </setting>
        </xsum.Properties.Settings>
    </applicationSettings>
</configuration>